@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.1s;
}

body {
  @apply text-[#676767]  text-xl;
}

.hero {
  height: 70svh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../public/prm_hero.jpg");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  @apply flex flex-col gap-12 bg-cover bg-no-repeat bg-center text-white mb-24;
}

.header {
  @apply flex justify-between items-center p-4;
}

.menu {
  transition: all 0.1s ease-in;
  @apply backdrop-blur-md;
}

.menu li:hover {
  @apply text-color_primary;
}

.blog_image {
  background-image: url("https://images.unsplash.com/photo-1472162072942-cd5147eb3902?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=885&q=80");
  @apply h-60 bg-cover;
}

.main {
  @apply max-w-screen-md text-lg flex flex-col gap-4;
}

.footer {
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0, 100% 80%, 0 80%);
  clip-path: polygon(0 0, 50% 20%, 100% 0, 100% 100%, 0 100%);
  @apply h-[40svh] bg-[#2E2E2E] text-white flex flex-col justify-end items-center p-20 mt-10;
}
